


<div>
    <h2>
        Heroes List
    </h2>
    <ul class="heroes">
        <li *ngFor="let hero of heroes">
            <button type="button" (click)="onSelect(hero)">
                <span class="badge">{{hero.id}}</span>
                <span class="name">{{hero.name}}</span>
            </button>
        </li>
    </ul>
</div>

<h2>Hero Details</h2>

<div *ngIf="selectedHero">
    <span class="span-id">
        Id:
    </span>
    {{selectedHero.id}} 


    <span class="span-name">|
        Hero name: 
    </span>
    <input [(ngModel)]="selectedHero.name" placeholder="name"/>


</div>
